<ion-view view-title="Dashboard">
  <ion-content class="padding">    
    <div class="list card">
      <div class="item item-divider">Ping</div>
      <div class="item item-body">
        <div>
          Ping response: {{pingresponse}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Majorstuen to Jernbanetorget</div>
      <div class="item item-body">
        <div>
        	{{majorstuenToJernbanetorget}}
        </div>
      </div>
    </div> 
    <div class="list card">
      <div class="item item-divider">My travels by group</div>
      <div class="item item-body">  
        <div>
        	{{MyDestinations}}
        </div>           
      </div>
    </div>   
    
    <ion-list>
  		<ion-item ng-repeat="(key, value) in myTravels">
    		{{key}}
  		</ion-item>
	</ion-list> 
	    
    <ion-list>
  		<ion-item collection-repeat="item in myTravels[MyDestinations.JOBB]">
    		{{item.from.desc}} -> {{item.to.desc}}
  		</ion-item>
	</ion-list> 
	
  </ion-content>
</ion-view>


