<ion-view view-title="Debug- og testplanel">
  <ion-content class="padding">    
  
        <!--div class="card">
            <div class="item item-divider">
                Your device information!
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item">
                        Manufacturer : {{manufacturer}}
                    </li>
                    <li class="item">
                        Model : {{model}}
                    </li>
                    <li class="item">
                        Platform : {{platform}}
                    </li>
                    <li class="item">
                        UUID : {{uuid}}
                    </li>
                </ul>
            </div>
            <div class="item item-divider text-right">
                from <code>ngCordova</code>
            </div>
        </div-->
 
      <div class="list card">
      <div class="item item-divider">TMP - for debugging</div>
      <div class="item item-body">
        <div>
          {{tmp}}
        </div>
      </div>
    </div>  
        
      <div class="list card">
      <div class="item item-divider">Mystops</div>
      <div class="item item-body">
        <div>
          {{myStops}}
        </div>
      </div>
    </div>   
           
     <div class="list card">
      <div class="item item-divider">Closest stop</div>
      <div class="item item-body">
        <div>
          {{closestStop.desc}} v/  {{closestStop.Name}}. {{closestStop.distanceToStop}} meters
        </div>
      </div>
    </div>         
        
     <div class="list card">
      <div class="item item-divider">Current position</div>
      <div class="item item-body">
        <div>
          Position: {{currentPosition.longitude}}, {{currentPosition.latitude}}
        </div>
      </div>
    </div>       
    
    <div class="list card">
      <div class="item item-divider">My travels by group</div>
      <div class="item item-body">  
        <div>
        	{{MyDestinations}}
        </div>           
      </div>
    </div>   
    
    <ion-list>
  		<ion-item ng-repeat="(key, value) in myTravels">
    		{{key}}
  		</ion-item>
	</ion-list> 
	    
    <ion-list>
  		<ion-item collection-repeat="item in myTravels[MyDestinations.JOBB]">
    		{{item.from.desc}} -> {{item.to.desc}}
  		</ion-item>
	</ion-list> 
	
  </ion-content>
</ion-view>


